---
import Layout from '~/layouts/Layout.astro'

// import { i18nFactory } from '~/i18n'
// const _ = i18nFactory(Astro.currentLocale as any)
---

<Layout
	bodyClass="bg-gray-100 h-screen"
>

	<h1 class="text-4xl font-bold">
		TOTP Online
	</h1>

</Layout>
